@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Accounts Manager</h1>
    <img src="~/images/money_Green.png" width="45" alt="" class="d-inline-block align-middle mr-2" />
    <p>The place to manage your finances and taxes!</a>.</p>
</div>
<hr>
<div class="card-columns">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">10</h5>
                    <p class="card-text">Active customers</p>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">5</h5>
                    <p class="card-text">Pending invoices</p>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">3</h5>
                    <p class="card-text">Payments processing</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">5</h5>
                    <p class="card-text">New estimates</p>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">8</h5>
                    <p class="card-text">Delayed charges</p>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">5</h5>
                    <p class="card-text">Supplier invoices</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">5</h5>
                    <p class="card-text">New estimates</p>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">8</h5>
                    <p class="card-text">Delayed charges</p>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">5</h5>
                    <p class="card-text">Supplier invoices</p>
                </div>
            </div>
        </div>
    </div>
</div>